.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}
.contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info .link {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}
.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}
.contact .info .social i {
    margin-left: 10px;
    color: var(--secondary-color);
}