:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
}
* {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .container {
    width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
    width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
    width: 1170px;
    }
}


@media (max-width: 767px) {
    .heading {
    font-size: 60px;
    }
    .heading + p {
    margin-top: -20px;
    }
}

@media (max-width: 767px) {
    .services .services-content .service {
    flex-direction: column;
    text-align: center;
    }
}

@media (max-width: 1199px) {
    .image-column {
    display: none;
    }
}

@media (max-width: 991px) {
    .about .about-content {
    flex-direction: column;
    text-align: center;
    }
}

@media (max-width: 991px) {
    .about .about-content .image {
    margin: 0 auto 60px;
    }
}

@media (max-width: 991px) {
    .about .about-content .image::before,
    .about .about-content .image::after {
    display: none;
    }
}

@media (max-width: 767px) {
    .contact .info .label,
    .contact .info .link {
    font-size: 25px;
    }
}